interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://roadmap.sh/python.json
  response:
    body:
      string: '{"mockup":{"controls":{"control":[{"ID":"881","typeID":"Arrow","zOrder":"0","w":"166","h":"88","measuredW":"150","measuredH":"100","x":"992","y":"1160","properties":{"curvature":"0","leftArrow":"false","rightArrow":"false","color":"10027263","stroke":"dotted","p0":{"x":0.047263099007864184,"y":-0.34666666666657875},"p1":{"x":0.6549769871651536,"y":0.174281001668511},"p2":{"x":166.5,"y":88}}},{"ID":"882","typeID":"Arrow","zOrder":"1","w":"170","h":"86","measuredW":"150","measuredH":"100","x":"998","y":"1058","properties":{"curvature":"0","leftArrow":"false","rightArrow":"false","color":"10027263","stroke":"dotted","p0":{"x":169.5,"y":0},"p1":{"x":0.3852928374516326,"y":0.17075916875184752},"p2":{"x":-0.05325918258233742,"y":85.87473104876676}}},{"ID":"883","typeID":"Arrow","zOrder":"2","w":"3","h":"759","measuredW":"150","measuredH":"100","x":"877","y":"726","pro[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://roadmap.sh/python/python-basics/basic-syntax
  response:
    body:
      string: '<div data-github-url="https://github.com/kamranahmedse/developer-roadmap/tree/master/src/data/roadmaps/python/content/100-python-basics/100-basic-syntax.md"></div>
        <h1 id="basic-syntax">Basic Syntax</h1>

        <p>Setup the environment for python and get started with the basics.</p>

        <p>Visit the following resources to learn more:</p>

        <ul>

        <li><a href="https://www.w3schools.com/python/" rel="noopener noreferrer nofollow"
        target="_blank">@article@W3Schools - Python</a></li>

        <li><a href="https://www.youtube.com/watch?v=kqtD5dpn9C8" rel="noopener noreferrer
        nofollow" target="_blank">@video@Python for Beginners - Learn Python in 1
        Hour</a></li>

        <li><a href="https://www.tutorialspoint.com/python/python_basic_syntax.htm"
        rel="noopener noreferrer nofollow" target="_blank">@article@Python Basics</a></li>

        <li><a href="https://learnxinyminutes.com/docs/python/" rel="noopener noreferrer
        nofollow" target="_blank">@article@Learn X in Y Minutes / Python</a></li>

        </ul>'
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      ETag:
      - W/"3c0-190a37391a4"
      Last-Modified:
      - Thu, 11 Jul 2024 20:19:38 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://roadmap.sh/python/python-basics/variables-and-datatypes
  response:
    body:
      string: "<div data-github-url=\"https://github.com/kamranahmedse/developer-roadmap/tree/master/src/data/roadmaps/python/content/100-python-basics/101-variables-and-datatypes.md\"></div>
        <h2 id=\"variables\">Variables</h2>\n<p>Variables are used to store information
        to be referenced and manipulated in a computer program. They also provide
        a way of labeling data with a descriptive name, so our programs can be understood
        more clearly by the reader and ourselves. It is helpful to think of variables
        as containers that hold information. Their sole purpose is to label and store
        data in memory. This data can then be used throughout your program.</p>\[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://roadmap.sh/python/python-basics/lists-tuples-sets-dictionaries
  response:
    body:
      string: "<div data-github-url=\"https://github.com/kamranahmedse/developer-roadmap/tree/master/src/data/roadmaps/python/content/100-python-basics/105-lists-tuples-sets-dictionaries.md\"></div>
        <h1 id=\"lists-tuples-sets-and-dictionaries\">Lists, Tuples, Sets, and Dictionaries</h1>\n<p><strong>Lists:</strong>
        are just like dynamic sized arrays, declared in other languages (vector in
        C++ and ArrayList in Java). Lists need not be homogeneous always which makes
        it the most powerful tool in Python.</p>\n<p><strong>Tuple:</strong> A Tuple
        is a collection of Python objects separated by commas. In some ways, a tuple
        is similar to a list in terms of indexing, nested objects, and repetition
        but a tuple is immutable, unlike lists that are mutable.[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://roadmap.sh/python/python-basics/conditionals
  response:
    body:
      string: "<div data-github-url=\"https://github.com/kamranahmedse/developer-roadmap/tree/master/src/data/roadmaps/python/content/100-python-basics/102-conditionals.md\"></div>
        <h1 id=\"conditionals\">Conditionals</h1>\n<p>Conditional Statements in Python
        perform different actions depending on whether a specific condition evaluates
        to true or false. Conditional Statements are handled by IF-ELIF-ELSE statements
        and MATCH-CASE statements in Python.</p>\n<p>Visit the following resources
        to learn more:</p>\n<ul>\n<li><a href=\"https://www.guru99.com/if-loop-python-conditional-structures.html\"
        rel=\"noopener noreferrer nofollow\" target=\"_blank\">@article@Python Conditional
        Statements: IF\u2026Else, ELIF &#x26; Switch Case</a></li>\n<li><a href=\"https://realpython.com/python-conditional-statements/\"
        rel=\"noopener noreferrer nofollow\" target=\"_blank\">@article@Conditional
        Statements in Python</a></li>\n<li><a href=\"https://learnpython.com/blog/python-match-case-statement/\"
        rel=\"noopener noreferrer nofollow\" target=\"_blank\">@article@How to use
        a match statement in Python</a></li>\n</ul>"
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      ETag:
      - W/"42a-190a37391a4"
      Last-Modified:
      - Thu, 11 Jul 2024 20:19:38 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://roadmap.sh/python/python-basics/typecasting-exceptions
  response:
    body:
      string: '<div data-github-url="https://github.com/kamranahmedse/developer-roadmap/tree/master/src/data/roadmaps/python/content/100-python-basics/103-typecasting-exceptions.md"></div>
        <h2 id="typecasting">Typecasting</h2>

        <p>The process of converting the value of one data type (integer, string,
        float, etc.) to another d[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://roadmap.sh/python/python-basics/functions
  response:
    body:
      string: "<div data-github-url=\"https://github.com/kamranahmedse/developer-roadmap/tree/master/src/data/roadmaps/python/content/100-python-basics/104-functions.md\"></div>
        <h1 id=\"functions\">Functions</h1>\n<p>In programming, a function is a reusable
        block of code that executes a certain functionality when it is called. Functions
        are integral parts of every programming language because they help make your
        code more modular and reusable.</p>\n<p>In Python, you define a function with
        the <code>def</code> keyword, then write the function identifier (name) followed
        by parentheses and a colon.</p>\n<p>Visit the following resources to learn
        more:</p>\n<ul>\n<li><a href=\"https://www.freecodecamp.org/news/python-functions-define-and-call-a-function/\"
        rel=\"noopener noreferrer nofollow\" target=\"_blank\">@article@Python Functions
        \u2013 How to Define and Call a Function</a></li>\n<li><a href=\"https://www.w3schools.com/python/python_functions.asp\"
        rel=\"noopener noreferrer nofollow\" target=\"_blank\">@article@Python Functions
        - W3Schools</a></li>\n<li><a href=\"https://docs.python.org/3/library/functions.html\"
        rel=\"noopener noreferrer nofollow\" target=\"_blank\">@article@Built-in Functions
        in Python</a></li>\n</ul>"
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      ETag:
      - W/"4a9-190a37391a4"
      Last-Modified:
      - Thu, 11 Jul 2024 20:19:38 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://roadmap.sh/python/basics
  response:
    body:
      string: "<!DOCTYPE html><html lang=\"en\"> <head><meta charset=\"UTF-8\"><meta
        name=\"generator\" content=\"Astro v4.11.5\"><meta name=\"commit\" content=\"https://github.com/kamranahmedse/developer-roadmap/commit/26967da40be8e860d220f61f83e0de4c3df6799c\"><title>Page
        not found</title><meta name=\"description\" content=\"Community driven roadmaps,
        articles and guides for developers to grow in their career.\"><meta name=\"author\"
        content=\"Kamran Ahmed\"><meta name=\"keywords\" content=\"roadmap, developer
        roadmaps, developer roadmap, how to become a developer, frontend developer
        roadmap, frontend developer roadmap 2023, backend developer roadmap, backend
        developer roadmap 2023, sre roadmap, sre roadmap 202[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://roadmap.sh/python/data-structures-and-algorithms/arrays-linked-lists
  response:
    body:
      string: '<div data-github-url="https://github.com/kamranahmedse/developer-roadmap/tree/master/src/data/roadmaps/python/content/101-data-structures-and-algorithms/100-arrays-linked-lists.md"></div>
        <h1 id="arrays-and-linked-lists">Arrays and Linked lists</h1>

        <p>Arrays store elements in contiguous memory locations[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://roadmap.sh/python/data-structures-and-algorithms/heaps-stacks-queues
  response:
    body:
      string: "<div data-github-url=\"https://github.com/kamranahmedse/developer-roadmap/tree/master/src/data/roadmaps/python/content/101-data-structures-and-algorithms/101-heaps-stacks-queues.md\"></div>
        <h1 id=\"heaps-stacks-and-queues\">Heaps Stacks and Queues</h1>\n<p><strong>Stacks:</strong>
        Operations are performe[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://roadmap.sh/python/data-structures-and-algorithms/hash-tables
  response:
    body:
      string: '<div data-github-url="https://github.com/kamranahmedse/developer-roadmap/tree/master/src/data/roadmaps/python/content/101-data-structures-and-algorithms/102-hash-tables.md"></div>
        <h1 id="hash-tables">Hash Tables</h1>

        <p>Hash Table, Map, HashMap, Dictionary or Associative are all the names of
        the same da[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://roadmap.sh/python/data-structures-and-algorithms/binary-search-trees
  response:
    body:
      string: "<div data-github-url=\"https://github.com/kamranahmedse/developer-roadmap/tree/master/src/data/roadmaps/python/content/101-data-structures-and-algorithms/103-binary-search-trees.md\"></div>
        <h1 id=\"binary-search-trees\">Binary Search Trees</h1>\n<p>A binary search
        tree, also called an ordered or sorted b[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://roadmap.sh/python/data-structures-and-algorithms/recursion
  response:
    body:
      string: '<div data-github-url="https://github.com/kamranahmedse/developer-roadmap/tree/master/src/data/roadmaps/python/content/101-data-structures-and-algorithms/104-recursion.md"></div>
        <h1 id="recursion">Recursion</h1>

        <p>Recursion is a method of solving a computational problem where the solution
        depends on solutions to smaller instances of the same problem. Recursion solves
        such recursive problems by using functions that call themselves from within
        their own code.</p>

        <p>Visit the following resources to learn more:</p>

        <ul>

        <li><a href="https://realpython.com/python-recursion/" rel="noopener noreferrer
        nofollow" target="_blank">@article@Recursion in Python: An Introduction</a></li>

        <li><a href="https://app.daily.dev/tags/recursion?ref=roadmapsh" rel="noopener
        noreferrer nofollow" target="_blank">@feed@Explore top posts about Recursion</a></li>

        </ul>'
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      ETag:
      - W/"357-190a37391a4"
      Last-Modified:
      - Thu, 11 Jul 2024 20:19:38 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://roadmap.sh/python/data-structures-and-algorithms/sorting-algorithms
  response:
    body:
      string: '<div data-github-url="https://github.com/kamranahmedse/developer-roadmap/tree/master/src/data/roadmaps/python/content/101-data-structures-and-algorithms/105-sorting-algorithms.md"></div>
        <h1 id="sorting-algorithms">Sorting Algorithms</h1>

        <p>Sorting refers to arranging data in a particular format. Sorting[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://roadmap.sh/python/algorithms
  response:
    body:
      string: "<!DOCTYPE html><html lang=\"en\"> <head><meta charset=\"UTF-8\"><meta
        name=\"generator\" content=\"Astro v4.11.5\"><meta name=\"commit\" content=\"https://github.com/kamranahmedse/developer-roadmap/commit/26967da40be8e860d220f61f83e0de4c3df6799c\"><title>Page
        not found</title><meta name=\"description\" content=\"Community driven roadmaps,
     [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://roadmap.sh/python/python-advanced-topics/modules
  response:
    body:
      string: '<div data-github-url="https://github.com/kamranahmedse/developer-roadmap/tree/master/src/data/roadmaps/python/content/102-python-advanced-topics/105-modules/index.md"></div>
        <h1 id="modules">Modules</h1>

        <p>Modules refer to a file containing Python statements and definitions. A
        file containing Python code, for example: <code>example.py</code>, is called
        a module, and its module name would be example. We use modules to break down
        large programs into small manageable and organized files. Furthermore, modules
        provide reusability of code.</p>

        <p>Visit the following resources to learn more:</p>

        <ul>

        <li><a href="https://docs.python.org/3/tutorial/modules.html" rel="noopener
        noreferrer nofollow" target="_blank">@article@Python Modules</a></li>

        <li><a href="https://www.programiz.com/python-programming/modules" rel="noopener
        noreferrer nofollow" target="_blank">@article@Modules in Python</a></li>

        </ul>'
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      ETag:
      - W/"38b-190a37391a4"
      Last-Modified:
      - Thu, 11 Jul 2024 20:19:38 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://roadmap.sh/python/python-advanced-topics/iterators
  response:
    body:
      string: '<div data-github-url="https://github.com/kamranahmedse/developer-roadmap/tree/master/src/data/roadmaps/python/content/102-python-advanced-topics/104-iterators.md"></div>
        <h1 id="iterators">Iterators</h1>

        <p>An iterator is an object that contains a countable number of values. An
        iterator is an object that can be iterated upon, meaning that you can traverse
        through all the values. Technically, in Python, an iterator is an object which
        implements the iterator protocol, which consist of the methods <strong>iter</strong>()
        and <strong>next</strong>() .</p>

        <p>Visit the following resources to learn more:</p>

        <ul>

        <li><a href="https://www.w3schools.com/python/python_iterators.asp" rel="noopener
        noreferrer nofollow" target="_blank">@article@Iterators in Python</a></li>

        <li><a href="https://www.programiz.com/python-programming/iterator" rel="noopener
        noreferrer nofollow" target="_blank">@article@Python Iterators</a></li>

        </ul>'
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      ETag:
      - W/"3a3-190a37391a4"
      Last-Modified:
      - Thu, 11 Jul 2024 20:19:38 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://roadmap.sh/python/python-advanced-topics/oop
  response:
    body:
      string: '<div data-github-url="https://github.com/kamranahmedse/developer-roadmap/tree/master/src/data/roadmaps/python/content/102-python-advanced-topics/100-oop/index.md"></div>
        <h1 id="oop">OOP</h1>

        <p>In Python, object-oriented Programming (OOPs) is a programming paradigm
        that uses objects and classes in programming. It aims [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://roadmap.sh/python/python-advanced-topics/decorators
  response:
    body:
      string: '<div data-github-url="https://github.com/kamranahmedse/developer-roadmap/tree/master/src/data/roadmaps/python/content/102-python-advanced-topics/102-decorators.md"></div>
        <h1 id="decorators">Decorators</h1>

        <p>decorator is a design pattern in Python that allows a user to add new functionality
        to an existing object without modifying its structure. Decorators are usually
        called before the definition of a function you want to decorate.</p>

        <p>Visit the following resources to learn more:</p>

        <ul>

        <li><a href="https://www.datacamp.com/tutorial/decorators-python" rel="noopener
        noreferrer nofollow" target="_blank">@article@Python Decorators</a></li>

        <li><a href="https://www.youtube.com/watch?v=FXUUSfJO_J4" rel="noopener noreferrer
        nofollow" target="_blank">@video@Decorators in Python</a></li>

        <li><a href="https://www.youtube.com/watch?v=BE-L7xu8pO4" rel="noopener noreferrer
        nofollow" target="_blank">@video@Python Decorators in 1 Minute</a></li>

        </ul>'
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      ETag:
      - W/"3bd-190a37391a4"
      Last-Modified:
      - Thu, 11 Jul 2024 20:19:38 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://roadmap.sh/python/python-advanced-topics/regular-expressions
  response:
    body:
      string: "<div data-github-url=\"https://github.com/kamranahmedse/developer-roadmap/tree/master/src/data/roadmaps/python/content/102-python-advanced-topics/101-regular-expressions.md\"></div>
        <h1 id=\"regular-expressions\">Regular Expressions</h1>\n<p>A regular expression
        is a sequence of characters that specifies a search[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://roadmap.sh/python/python-advanced-topics/lambdas
  response:
    body:
      string: '<div data-github-url="https://github.com/kamranahmedse/developer-roadmap/tree/master/src/data/roadmaps/python/content/102-python-advanced-topics/103-lambdas.md"></div>
        <h1 id="lambdas">Lambdas</h1>

        <p>Python Lambda Functions are anonymous function means that the function
        is without a name. As we already know that the def keyword is used to define
        a normal function in Python. Similarly, the lambda keyword is used to define
        an anonymous function in Python.</p>

        <p>Visit the following resources to learn more:</p>

        <ul>

        <li><a href="https://www.w3schools.com/python/python_lambda.asp" rel="noopener
        noreferrer nofollow" target="_blank">@article@Lambdas in Python</a></li>

        <li><a href="https://realpython.com/python-lambda/" rel="noopener noreferrer
        nofollow" target="_blank">@article@How to use Lambda functions</a></li>

        <li><a href="https://www.youtube.com/watch?v=KR22jigJLok" rel="noopener noreferrer
        nofollow" target="_blank">@video@Python Lambda Functions</a></li>

        </ul>'
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      ETag:
      - W/"3cf-190a37391a4"
      Last-Modified:
      - Thu, 11 Jul 2024 20:19:38 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://roadmap.sh/python/python-advanced-topics/list-comprehensions
  response:
    body:
      string: '<div data-github-url="https://github.com/kamranahmedse/developer-roadmap/tree/master/src/data/roadmaps/python/content/102-python-advanced-topics/106-list-comprehensions.md"></div>
        <h1 id="list-comprehensions">List Comprehensions</h1>

        <p>List comprehensions are a concise way to create a list using a single line
 [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://roadmap.sh/python/python-advanced-topics/generator-expressions
  response:
    body:
      string: '<div data-github-url="https://github.com/kamranahmedse/developer-roadmap/tree/master/src/data/roadmaps/python/content/102-python-advanced-topics/107-generator-expressions.md"></div>
        <h1 id="generator-expressions">Generator Expressions</h1>

        <p>Generator expressions are a concise way to create a generator using [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://roadmap.sh/python/python-advanced-topics/paradigms
  response:
    body:
      string: "<div data-github-url=\"https://github.com/kamranahmedse/developer-roadmap/tree/master/src/data/roadmaps/python/content/102-python-advanced-topics/108-paradigms.md\"></div>
        <h1 id=\"python-paradigms\">Python Paradigms</h1>\n<p>Python is a multi-paradigm
        programming language, which means that it supports several programming paradigms.
        Some of the main paradigms supported by Python are:</p>\n<ul>\n<li>Imperative
        programming: This paradigm focuses on telling the computer what to do, step
        by step. Python supports imperative programming with features such as variables,
        loops, and control structures.</li>\n<li>Object-oriented programming (OOP):
        This paradigm is based on the idea of objects and their interactions. Python
        supports OOP with features such as classes, inheritance, and polymorphism.</li>\n<li>Functional
        programming: This paradigm is based on the idea of functions as first-class
        citizens, and it emphasizes the use of pure functions and immutable data.
        Python supports functional programming with features such as higher-order
        functions, lambda expressions, and generators.</li>\n<li>Aspect-oriented programming:
        This paradigm is based on the idea of separating cross-cutting concerns from
        the main functionality of a program. Python does not have built-in support
        for aspect-oriented programming, but it can be achieved using libraries or
        language extensions.</li>\n</ul>\n<p>Python\u2019s support for multiple paradigms
        makes it a versatile and flexible language, and it allows developers to choose
        the paradigm that best fits their needs.</p>"
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      ETag:
      - W/"60a-190a37391a4"
      Last-Modified:
      - Thu, 11 Jul 2024 20:19:38 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://roadmap.sh/python/topics
  response:
    body:
      string: "<!DOCTYPE html><html lang=\"en\"> <head><meta charset=\"UTF-8\"><meta
        name=\"generator\" content=\"Astro v4.11.5\"><meta name=\"commit\" content=\"https://github.com/kamranahmedse/developer-roadmap/commit/26967da40be8e860d220f61f83e0de4c3df6799c\"><title>Page
        not found</title><meta name=\"description\" content=\"Community driven roadmaps,
        a[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://roadmap.sh/python/python-frameworks/synchronous
  response:
    body:
      string: "<div data-github-url=\"https://github.com/kamranahmedse/developer-roadmap/tree/master/src/data/roadmaps/python/content/106-python-frameworks/100-synchronous/index.md\"></div>
        <h1 id=\"synchronous-frameworks\">Synchronous Frameworks</h1>\n<p>Synchronous
        frameworks in python handle the flow of data in a synchronous manner. On a
        s\u0332y\u0332n\u0332c\u0332h\u0332r\u0332o\u0332n\u0332o\u0332u\u0332s\u0332
        request, you make the request and stop executing your program until you get
        a response from the HTTP server (or an error if the server can\u2019t be reached,
        or a timeout if the sever is taking way, way too long to reply) The interpreter
        is blocked until the request is completed (until you got a definitive answer
        of what happened with the request: did it go well? was there an error? a timeout?\u2026
        ).</p>\n<p>Visit the following resources to learn more:</p>\n<ul>\n<li><a
        href=\"https://blog.miguelgrinberg.com/post/sync-vs-async-python-what-is-the-difference\"
        rel=\"noopener noreferrer nofollow\" target=\"_blank\">@article@Sync vs. Async
        Python: What is the Difference?</a></li>\n</ul>"
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      ETag:
      - W/"40a-190a37391a8"
      Last-Modified:
      - Thu, 11 Jul 2024 20:19:38 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://roadmap.sh/python/python-frameworks/asynchronous
  response:
    body:
      string: '<div data-github-url="https://github.com/kamranahmedse/developer-roadmap/tree/master/src/data/roadmaps/python/content/106-python-frameworks/101-asynchronous/index.md"></div>
        <h1 id="asynchronous">Asynchronous</h1>

        <p>Asynchronous programming is a type of parallel programming in which a unit
        of work is allowed to run separately from the primary application thread.
        When the work is complete, it notifies the main thread about completion or
        failure of the worker thread.

        This style is mostly concerned with the asynchronous execution of tasks. Python
        has several asynchronous frameworks that are used to implement asynchronous
        programming.</p>

        <p>Visit the following resources to learn more:</p>

        <ul>

        <li><a href="https://geekflare.com/python-asynchronous-web-frameworks/" rel="noopener
        noreferrer nofollow" target="_blank">@article@Top 9 Asynchronous Web Frameworks
        for Python</a></li>

        </ul>'
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      ETag:
      - W/"37c-190a37391a8"
      Last-Modified:
      - Thu, 11 Jul 2024 20:19:38 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://roadmap.sh/python/python-frameworks/fastapi
  response:
    body:
      string: '<div data-github-url="https://github.com/kamranahmedse/developer-roadmap/tree/master/src/data/roadmaps/python/content/106-python-frameworks/102-fastapi.md"></div>
        <h1 id="fastapi">FastAPI</h1>

        <p>FastAPI is a Web framework for developing RESTful APIs in Python. FastAPI
        is based on Pydantic and type hints to validate, serialize, and deserialize
        data and automatically auto-generate OpenAPI documents.</p>

        <ul>

        <li><a href="https://fastapi.tiangolo.com/" rel="noopener noreferrer nofollow"
        target="_blank">@article@Official Documentation</a></li>

        <li><a href="https://www.youtube.com/watch?v=0sOvCWFmrtA" rel="noopener noreferrer
        nofollow" target="_blank">@video@Create an API with Fast-API (Full 19 Hour
        Course)</a></li>

        <li><a href="https://app.daily.dev/tags/fastapi?ref=roadmapsh" rel="noopener
        noreferrer nofollow" target="_blank">@feed@Explore top posts about FastAPI</a></li>

        </ul>'
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      ETag:
      - W/"378-190a37391a8"
      Last-Modified:
      - Thu, 11 Jul 2024 20:19:38 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://roadmap.sh/python/frameworks
  response:
    body:
      string: "<!DOCTYPE html><html lang=\"en\"> <head><meta charset=\"UTF-8\"><meta
        name=\"generator\" content=\"Astro v4.11.5\"><meta name=\"commit\" content=\"https://github.com/kamranahmedse/developer-roadmap/commit/26967da40be8e860d220f61f83e0de4c3df6799c\"><title>Page
        not found</title><meta name=\"description\" content=\"Community driven roadmaps,
     [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://roadmap.sh/python/python-testing/unittest-pyunit
  response:
    body:
      string: "<div data-github-url=\"https://github.com/kamranahmedse/developer-roadmap/tree/master/src/data/roadmaps/python/content/107-python-testing/100-unittest-pyunit.md\"></div>
        <h1 id=\"pyunit--unittest\">PyUnit / Unittest</h1>\n<p>PyUnit is an easy way
        to create unit testing programs and UnitTests with Python. (Note that docs.pyth[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://roadmap.sh/python/python-testing/pytest
  response:
    body:
      string: '<div data-github-url="https://github.com/kamranahmedse/developer-roadmap/tree/master/src/data/roadmaps/python/content/107-python-testing/101-pytest.md"></div>
        <h1 id="pytest">pytest</h1>

        <p>pytest is a mature full-featured Python testing tool that helps you write
        better programs.</p>

        <p>Visit the following resources to learn more:</p>

        <ul>

        <li><a href="https://docs.pytest.org/" rel="noopener noreferrer nofollow"
        target="_blank">@article@Official Docs</a></li>

        <li><a href="https://www.tutorialspoint.com/pytest/index.htm" rel="noopener
        noreferrer nofollow" target="_blank">@article@Pytest Tutorial</a></li>

        <li><a href="https://realpython.com/pytest-python-testing/" rel="noopener
        noreferrer nofollow" target="_blank">@article@Effective Python Testing With
[...]
