interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://roadmap.sh/docker.json
  response:
    body:
      string: '{"mockup":{"controls":{"control":[{"ID":"9408","typeID":"Canvas","zOrder":"0","w":"327","h":"393","measuredW":"100","measuredH":"70","x":"645","y":"902"},{"ID":"9409","typeID":"Arrow","zOrder":"1","w":"340","h":"1","measuredW":"150","measuredH":"100","x":"1277","y":"2210","properties":{"curvature":"0","leftArrow":"false","rightArrow":"false","color":"4273622","p0":{"x":0.16382818454974313,"y":0.362673214497363},"p1":{"x":0.4999578668592738,"y":0.0003556693697539093},"p2":{"x":340.33333333333326,"y":0.3626732144975904}}},{"ID":"9410","typeID":"Arrow","zOrder":"2","w":"1","h":"85","measuredW":"150","measuredH":"100","x":"1223","y":"2210","properties":{"curvature":"0","leftArrow":"false","rightArrow":"false","color":"4273622","stroke":"dotted","p0":{"x":-0.18181818181824383,"y":0},"p1":{"x":0.49995786685927385,"y":0.0003556693697539093},"p2":{"x":-0.18181818181824383,"y":84.66666666666652}}},{"ID":"9411","typeID":"Arrow","zOrder":"3","w":"1","h":"105","measuredW":"150","measuredH":"100","x":"871","y":"2214","properties":{"curvature":"0","leftArrow":"false","rightArrow":"false","color":"4273622","stroke":"dotted","p0":{"x":0,"y":0},"p1":{"x":0.5016483571549873,"y":-0.0004594339945699278},"p2":{"x":0,"y":105}}},{"ID":"9412","ty[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://roadmap.sh/docker/100-introduction/what-are-containers
  response:
    body:
      string: "<!DOCTYPE html><html lang=\"en\"> <head><meta charset=\"UTF-8\"><meta
        name=\"generator\" content=\"Astro v4.11.5\"><meta name=\"commit\" content=\"https://github.com/kamranahmedse/developer-roadmap/commit/7e09d54a65c4aa11343e6665377b1b521bbe6e27\"><title>Page
        not found</title><meta name=\"description\" content=\"Community driven roadmaps,
        articles and guides for developers to grow in their career.\"><meta name=\"author\"
        content=\"Kamran Ahmed\"><meta name=\"keywords\" content=\"roadmap, developer
        roadmaps, developer roadmap, how to become a developer, frontend developer
        roadmap, frontend developer roadmap 2023, backend developer roadmap, backend
        developer roadmap 2023, sre roadmap, sre roadmap 202[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://roadmap.sh/docker/101-introduction/need-for-containers
  response:
    body:
      string: "<!DOCTYPE html><html lang=\"en\"> <head><meta charset=\"UTF-8\"><meta
        name=\"generator\" content=\"Astro v4.11.5\"><meta name=\"commit\" content=\"https://github.com/kamranahmedse/developer-roadmap/commit/7e09d54a65c4aa11343e6665377b1b521bbe6e27\"><title>Page
        not found</title><meta name=\"description\" content=\"Commun[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://roadmap.sh/docker/102-introduction/bare-metal-vm-containers
  response:
    body:
      string: "<!DOCTYPE html><html lang=\"en\"> <head><meta charset=\"UTF-8\"><meta
        name=\"generator\" content=\"Astro v4.11.5\"><meta name=\"commit\" content=\"https://github.com/kamranahmedse/developer-roadmap/commit/7e09d54a65c4aa11343e6665377b1b521bbe6e27\"><title>Page
        not found</title><meta name=\"description\" content=\"C[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://roadmap.sh/docker/103-introduction/docker-and-oci
  response:
    body:
      string: "<!DOCTYPE html><html lang=\"en\"> <head><meta charset=\"UTF-8\"><meta
        name=\"generator\" content=\"Astro v4.11.5\"><meta name=\"commit\" content=\"https://github.com/kamranahmedse/developer-roadmap/commit/7e09d54a65c4aa11343e6665377b1b521bbe6e27\"><title>Page
        not found</title><meta name=\"description\" content=\"Community d[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://roadmap.sh/docker/100-underlying-technologies/namespaces
  response:
    body:
      string: "<!DOCTYPE html><html lang=\"en\"> <head><meta charset=\"UTF-8\"><meta
        name=\"generator\" content=\"Astro v4.11.5\"><meta name=\"commit\" content=\"https://github.com/kamranahmedse/developer-roadmap/commit/7e09d54a65c4aa11343e6665377b1b521bbe6e27\"><title>Page
        not found</title><meta name=\"description\" content=\"Comm[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://roadmap.sh/docker/101-underlying-technologies/cgroups
  response:
    body:
      string: "<!DOCTYPE html><html lang=\"en\"> <head><meta charset=\"UTF-8\"><meta
        name=\"generator\" content=\"Astro v4.11.5\"><meta name=\"commit\" content=\"https://github.com/kamranahmedse/developer-roadmap/commit/7e09d54a65c4aa11343e6665377b1b521bbe6e27\"><title>Page
        not found</title><meta name=\"description\" content=\"Communi[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://roadmap.sh/docker/102-underlying-technologies/union-filesystems
  response:
    body:
      string: "<!DOCTYPE html><html lang=\"en\"> <head><meta charset=\"UTF-8\"><meta
        name=\"generator\" content=\"Astro v4.11.5\"><meta name=\"commit\" content=\"https://github.com/kamranahmedse/developer-roadmap/commit/7e09d54a65c4aa11343e6665377b1b521bbe6e27\"><title>Page
        not found</title><meta name=\"description\" content[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://roadmap.sh/docker/100-installation-setup/docker-desktop
  response:
    body:
      string: "<!DOCTYPE html><html lang=\"en\"> <head><meta charset=\"UTF-8\"><meta
        name=\"generator\" content=\"Astro v4.11.5\"><meta name=\"commit\" content=\"https://github.com/kamranahmedse/developer-roadmap/commit/7e09d54a65c4aa11343e6665377b1b521bbe6e27\"><title>Page
        not found</title><meta name=\"description\" content=\"Commu[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://roadmap.sh/docker/101-installation-setup/docker-engine
  response:
    body:
      string: "<!DOCTYPE html><html lang=\"en\"> <head><meta charset=\"UTF-8\"><meta
        name=\"generator\" content=\"Astro v4.11.5\"><meta name=\"commit\" content=\"https://github.com/kamranahmedse/developer-roadmap/commit/7e09d54a65c4aa11343e6665377b1b521bbe6e27\"><title>Page
        not found</title><meta name=\"description\" content=\"Commun[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://roadmap.sh/docker/100-data-persistence/ephemeral-container-fs
  response:
    body:
      string: "<!DOCTYPE html><html lang=\"en\"> <head><meta charset=\"UTF-8\"><meta
        name=\"generator\" content=\"Astro v4.11.5\"><meta name=\"commit\" content=\"https://github.com/kamranahmedse/developer-roadmap/commit/7e09d54a65c4aa11343e6665377b1b521bbe6e27\"><title>Page
        not found</title><meta name=\"description\" content=\[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://roadmap.sh/docker/101-data-persistence/volume-mounts
  response:
    body:
      string: "<!DOCTYPE html><html lang=\"en\"> <head><meta charset=\"UTF-8\"><meta
        name=\"generator\" content=\"Astro v4.11.5\"><meta name=\"commit\" content=\"https://github.com/kamranahmedse/developer-roadmap/commit/7e09d54a65c4aa11343e6665377b1b521bbe6e27\"><title>Page
        not found</title><meta name=\"description\" content=\"Communit[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://roadmap.sh/docker/102-data-persistence/bind-mounts
  response:
    body:
      string: "<!DOCTYPE html><html lang=\"en\"> <head><meta charset=\"UTF-8\"><meta
        name=\"generator\" content=\"Astro v4.11.5\"><meta name=\"commit\" content=\"https://github.com/kamranahmedse/developer-roadmap/commit/7e09d54a65c4aa11343e6665377b1b521bbe6e27\"><title>Page
        not found</title><meta name=\"description\" content=\"Community [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://roadmap.sh/docker/100-using-third-party-images/databases
  response:
    body:
      string: "<!DOCTYPE html><html lang=\"en\"> <head><meta charset=\"UTF-8\"><meta
        name=\"generator\" content=\"Astro v4.11.5\"><meta name=\"commit\" content=\"https://github.com/kamranahmedse/developer-roadmap/commit/7e09d54a65c4aa11343e6665377b1b521bbe6e27\"><title>Page
        not found</title><meta name=\"description\" content=\"Comm[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://roadmap.sh/docker/101-using-third-party-images/interactive-test-environments
  response:
    body:
      string: "<!DOCTYPE html><html lang=\"en\"> <head><meta charset=\"UTF-8\"><meta
        name=\"generator\" content=\"Astro v4.11.5\"><meta name=\"commit\" content=\"https://github.com/kamranahmedse/developer-roadmap/commit/7e09d54a65c4aa11343e6665377b1b521bbe6e27\"><title>Page
        not found</title><meta name=\"descript[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://roadmap.sh/docker/102-using-third-party-images/command-line-utilities
  response:
    body:
      string: "<!DOCTYPE html><html lang=\"en\"> <head><meta charset=\"UTF-8\"><meta
        name=\"generator\" content=\"Astro v4.11.5\"><meta name=\"commit\" content=\"https://github.com/kamranahmedse/developer-roadmap/commit/7e09d54a65c4aa11343e6665377b1b521bbe6e27\"><title>Page
        not found</title><meta name=\"description\" c[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://roadmap.sh/docker/100-building-container-images/dockerfiles
  response:
    body:
      string: "<!DOCTYPE html><html lang=\"en\"> <head><meta charset=\"UTF-8\"><meta
        name=\"generator\" content=\"Astro v4.11.5\"><meta name=\"commit\" content=\"https://github.com/kamranahmedse/developer-roadmap/commit/7e09d54a65c4aa11343e6665377b1b521bbe6e27\"><title>Page
        not found</title><meta name=\"description\" content=\"C[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://roadmap.sh/docker/101-building-container-images/efficient-layer-caching
  response:
    body:
      string: "<!DOCTYPE html><html lang=\"en\"> <head><meta charset=\"UTF-8\"><meta
        name=\"generator\" content=\"Astro v4.11.5\"><meta name=\"commit\" content=\"https://github.com/kamranahmedse/developer-roadmap/commit/7e09d54a65c4aa11343e6665377b1b521bbe6e27\"><title>Page
        not found</title><meta name=\"description\"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://roadmap.sh/docker/102-building-container-images/image-size-and-security
  response:
    body:
      string: "<!DOCTYPE html><html lang=\"en\"> <head><meta charset=\"UTF-8\"><meta
        name=\"generator\" content=\"Astro v4.11.5\"><meta name=\"commit\" content=\"https://github.com/kamranahmedse/developer-roadmap/commit/7e09d54a65c4aa11343e6665377b1b521bbe6e27\"><title>Page
        not found</title><meta name=\"description\"[...]
