interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://roadmap.sh/devops.json
  response:
    body:
      string: '{"nodes":[{"id":"iU2f2TbjbjrCSDoIQN75c","type":"vertical","position":{"x":1274.6452398367048,"y":2446.733953859971},"selected":false,"data":{"label":"vertical
        node","style":{"stroke":"#2B78E4","strokeWidth":3.5,"strokeDasharray":"0.8
        8","strokeLinecap":"round"},"oldId":"fL1LKBwDDxnzuUaxMxfMz"},"zIndex":999,"width":20,"height":56,"dragging":false,"positionAbsolute":{"x":1274.6452398367048,"y":2446.733953859971},"style":{"width":20,"height":56},"resizing":false,"focusable":true},{"id":"fL1LKBwDDxnzuUaxMxfMz","type":"vertical","position":{"x":1273.4080590588455,"y":2051.6937435857144},"selected":false,"data":{"label":"vertical
        node","style":{"stroke":"#2B78E4","strokeWidth":3.5}},"zIndex":999,"width":20,"height":388,"dragging":false,"positionAbsolute":{"x":1273.4080590588455,"y":2051.6937435857144},"style":{"width":20,"height":388},"resizing":false,"focusable":true},{"id":"bnHYl23RxloIt7dR5V7PF","type":"vertical","position":{"x":1859.1022029048668,"y":1789.2739894115864},"selected":false,"data":{"label":"vertical
        node","style":{"stroke":"#2B78E4","strokeWidth":3.5}},"zIndex":999,"width":20,"height":377,"positionAbsolute":{"x":1859.1022029048668,"y":1789.2739894115864},"dragging":false,"style":{"width":20,"height":377},"resizing":false,"focusable":true},{"id":"JizyX8jse920gpWcmoSED","type":"section","position":{"x":1992.153929822237,"y":1314.467983134743},"selected":false,"data":{"label":"","style":{"width":150,"height":100,"fontSize":17}},"zIndex":-999,"width":228,"height":354,"style":{"width":228,"height":354},"positionAbsolute":{"x":1992.153929822237,"y":1314.467983134743},"dragging":false,"resizing":false,"focusable":true},{"id":"SPXgDee7rpQAX3FfTdA3J","type":"section","position":{"x":1584.5509969897735,"y":1298.3406565459877},"selected":false,"data":{"label":"","style":{"width":150,"height":100,"fontSize":17}},"zIndex":-999,"width":251,"height":375,"style":{"width":251,"height":375},"resizing":false,"dragging":false,"positionAbsolute":{"x":1584.5509969897735,"y":1298.3406565459877},"focusable":true},{"id":"45zz5L6lKJrF9JWgyj1Pz","type":"section","position":{"x":1189.5750786843228,"y":1275.9816693737002},"selected":false,"data":{"label":"","style":{"width":150,"height":100,"fontSize":17,"backgroundColor":"#ffffff","borderColor":"#000000"}},"zIndex":-999,"width":278,"height":336,"style":{"width":278,"height":336},"resizing":false,"dragging":false,"positionAbsolute":{"x":1189.5750786843228,"y":1275.9816693737002},"focusable":true},{"id":"7crPw2SKw-TlsSe9kpZFQ","type":"section","position":{"x":1189.5750786843228,"y":1041.0187194026719},"selected":false,"data":{"label":"","style":{"width":150,"height":100,"fontSize":17,"backgroundColor":"#ffffff","borderColor":"#000000"}},"zIndex":-999,"width":278,"height":243,"style":{"wi[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://roadmap.sh/devops/python@TwVfCYMS9jSaJ6UyYmC-K
  response:
    body:
      string: '<div data-github-url="https://github.com/kamranahmedse/developer-roadmap/tree/master/src/data/roadmaps/devops/content/python@TwVfCYMS9jSaJ6UyYmC-K.md"></div>
        <h1 id="python">Python</h1>

        <p>Python is a multi-paradigm language. Being an interpreted language, code
        is executed as soon as it is written and the Python syntax allows for writing
        code in functional, procedural or object-oriented programmatic ways. Python
        is frequently recommended as the first language new coders should learn, because
        of its focus on readability, consistency, and ease of use. This comes with
        some downsides, as the language is not especially performant in most production
        tasks.</p>

        <p>Visit the following resources to learn more:</p>

        <ul>

        <li><a href="/python">@roadmap@Visit Dedicated Python Roadmap</a></li>

        <li><a href="https://www.python.org/" rel="noopener noreferrer nofollow" target="_blank">@official@Python
        Website</a></li>

        <li><a href="https://www.python.org/about/gettingstarted/" rel="noopener noreferrer
        nofollow" target="_blank">@official@Python Getting Started</a></li>

        <li><a href="https://automatetheboringstuff.com/" rel="noopener noreferrer
        nofollow" target="_blank">@article@Automate the Boring Stuff</a></li>

        <li><a href="https://www.w3schools.com/python/" rel="noopener noreferrer nofollow"
        target="_blank">@article@W3Schools - Python Tutorial </a></li>

        <li><a href="https://ehmatthes.github.io/pcc/" rel="noopener noreferrer nofollow"
        target="_blank">@article@Python Crash Course</a></li>

        <li><a href="https://app.daily.dev/tags/python?ref=roadmapsh" rel="noopener
        noreferrer nofollow" target="_blank">@feed@Explore top posts about Python</a></li>

        </ul>'
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      ETag:
      - W/"679-190a37384bc"
      Last-Modified:
      - Thu, 11 Jul 2024 20:19:35 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://roadmap.sh/devops/ruby@PuXAPYA0bsMgwcnlwJxQn
  response:
    body:
      string: '<div data-github-url="https://github.com/kamranahmedse/developer-roadmap/tree/master/src/data/roadmaps/devops/content/ruby@PuXAPYA0bsMgwcnlwJxQn.md"></div>
        <h1 id="ruby">Ruby</h1>

        <p>Ruby is a high-level, interpreted programming language that blends Perl,
        Smalltalk, Eiffel, Ada, and Lisp. Ruby focuses on simplicity and productivity
        along with a syntax that reads and writes naturally. Ruby supports procedural,
        object-oriented and functional programming and is dynamically typed.</p>

        <p>Visit the following resources to learn more:</p>

        <ul>

        <li><a href="https://www.ruby-lang.org/en/" rel="noopener noreferrer nofollow"
        target="_blank">@article@Ruby Website</a></li>

        <li><a href="https://www.ruby-lang.org/en/documentation/quickstart/" rel="noopener
        noreferrer nofollow" target="_blank">@article@Learn Ruby in 20 minutes</a></li>

        <li><a href="https://app.daily.dev/tags/ruby?ref=roadmapsh" rel="noopener
        noreferrer nofollow" target="_blank">@feed@Explore top posts about Ruby</a></li>

        </ul>'
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      ETag:
      - W/"3e0-190a37384c0"
      Last-Modified:
      - Thu, 11 Jul 2024 20:19:35 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://roadmap.sh/devops/go@npnMwSDEK2aLGgnuZZ4dO
  response:
    body:
      string: "<div data-github-url=\"https://github.com/kamranahmedse/developer-roadmap/tree/master/src/data/roadmaps/devops/content/go@npnMwSDEK2aLGgnuZZ4dO.md\"></div>
        <h1 id=\"go\">Go</h1>\n<p>Go is an open source programming language supported
        by Google. Go can be used to write cloud services, CLI tools, used for API
        development, and much more.</p>\n<p>Visit the following resources to learn
        more:</p>\n<ul>\n<li><a href=\"/golang\">@roadmap@Visit Dedicated Go Roadmap</a></li>\n<li><a
        href=\"https://go.dev/tour/welcome/1\" rel=\"noopener noreferrer nofollow\"
        target=\"_blank\">@official@A Tour of Go \u2013 Go Basics</a></li>\n<li><a
        href=\"https://go.dev/doc/\" rel=\"noopener noreferrer nofollow\" target=\"_blank\">@official@Go
        Reference Documentation</a></li>\n<li><a href=\"https://gobyexample.com/\"
        rel=\"noopener noreferrer nofollow\" target=\"_blank\">@article@Go by Example
        - annotated example programs</a></li>\n<li><a href=\"https://www.w3schools.com/go/\"
        rel=\"noopener noreferrer nofollow\" target=\"_blank\">@article@W3Schools
        Go Tutorial </a></li>\n<li><a href=\"https://thenewstack.io/make-a-restful-json-api-go/\"
        target=\"_blank\">@article@Making a RESTful JSON API in Go</a></li>\n<li><a
        href=\"https://app.daily.dev/tags/golang?ref=roadmapsh\" rel=\"noopener noreferrer
        nofollow\" target=\"_blank\">@feed@Explore top posts about Golang</a></li>\n</ul>"
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      ETag:
      - W/"522-190a37384b8"
      Last-Modified:
      - Thu, 11 Jul 2024 20:19:35 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://roadmap.sh/devops/rust@eL62bKAoJCMsu7zPlgyhy
  response:
    body:
      string: '<div data-github-url="https://github.com/kamranahmedse/developer-roadmap/tree/master/src/data/roadmaps/devops/content/rust@eL62bKAoJCMsu7zPlgyhy.md"></div>
        <h1 id="rust">Rust</h1>

        <p>Rust is a modern systems programming language focusing on safety, speed,
        and concurrency. It accomplishes these goals by being memory safe[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://roadmap.sh/devops/javascript%20/%20node.js@QCdemtWa2mE78poNXeqzr
  response:
    body:
      string: "<!DOCTYPE html><html lang=\"en\"> <head><meta charset=\"UTF-8\"><meta
        name=\"generator\" content=\"Astro v4.11.5\"><meta name=\"commit\" content=\"https://github.com/kamranahmedse/developer-roadmap/commit/26967da40be8e860d220f61f83e0de4c3df6799c\"><title>Page
        not found</title><meta name=\"description\" content=\"Community driven roadmaps,
        articles and guides for developers to grow in their career.\"><meta name=\"author\"
        content=\"Kamran Ahmed\"><meta name=\"keywords\" content=\"roadmap, developer
        roadmaps, developer roadmap, how to become a developer, frontend developer
        roadmap, frontend developer roadmap 2023, backend developer roadmap, backend
        developer roadmap 2023, sre roadmap, sre roadmap 202[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://roadmap.sh/devops/learn%20a%20programming%20language@qe84v529VbCyydl0BKFk2
  response:
    body:
      string: "<!DOCTYPE html><html lang=\"en\"> <head><meta charset=\"UTF-8\"><meta
        name=\"generator\" content=\"Astro v4.11.5\"><meta name=\"commit\" content=\"https://github.com/kamranahmedse/developer-roadmap/commit/26967da40be8e860d220f61f83e0de4c3df6799c\"><title>Page
        not found</title><meta name=\"descriptio[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://roadmap.sh/devops/ubuntu%20/%20debian@cTqVab0VbVcn3W7i0wBrX
  response:
    body:
      string: "<!DOCTYPE html><html lang=\"en\"> <head><meta charset=\"UTF-8\"><meta
        name=\"generator\" content=\"Astro v4.11.5\"><meta name=\"commit\" content=\"https://github.com/kamranahmedse/developer-roadmap/commit/26967da40be8e860d220f61f83e0de4c3df6799c\"><title>Page
        not found</title><meta name=\"description\" content=\"C[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://roadmap.sh/devops/suse%20linux@zhNUK953p6tjREndk3yQZ
  response:
    body:
      string: "<!DOCTYPE html><html lang=\"en\"> <head><meta charset=\"UTF-8\"><meta
        name=\"generator\" content=\"Astro v4.11.5\"><meta name=\"commit\" content=\"https://github.com/kamranahmedse/developer-roadmap/commit/26967da40be8e860d220f61f83e0de4c3df6799c\"><title>Page
        not found</title><meta name=\"description\" content=\"Communit[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://roadmap.sh/devops/rhel%20/%20derivatives@7mS6Y_BOAHNgM3OjyFtZ9
  response:
    body:
      string: "<!DOCTYPE html><html lang=\"en\"> <head><meta charset=\"UTF-8\"><meta
        name=\"generator\" content=\"Astro v4.11.5\"><meta name=\"commit\" content=\"https://github.com/kamranahmedse/developer-roadmap/commit/26967da40be8e860d220f61f83e0de4c3df6799c\"><title>Page
        not found</title><meta name=\"description\" content=[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://roadmap.sh/devops/freebsd@PiPHFimToormOPl1EtEe8
  response:
    body:
      string: '<div data-github-url="https://github.com/kamranahmedse/developer-roadmap/tree/master/src/data/roadmaps/devops/content/freebsd@PiPHFimToormOPl1EtEe8.md"></div>
        <h1 id="freebsd">FreeBSD</h1>

        <p>FreeBSD is a free and open-source Unix-like operating system including
        many features such as preemptive multitasking, memory p[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://roadmap.sh/devops/openbsd@97cJYKqv7CPPUXkKNwM4x
  response:
    body:
      string: '<div data-github-url="https://github.com/kamranahmedse/developer-roadmap/tree/master/src/data/roadmaps/devops/content/openbsd@97cJYKqv7CPPUXkKNwM4x.md"></div>
        <h1 id="openbsd">OpenBSD</h1>

        <p>OpenBSD is a free and open-source Unix-like operating system, focussed
        on portability, standardization, correctness, proactive[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://roadmap.sh/devops/netbsd@haiYSwNt3rjiiwCDszPk1
  response:
    body:
      string: '<div data-github-url="https://github.com/kamranahmedse/developer-roadmap/tree/master/src/data/roadmaps/devops/content/netbsd@haiYSwNt3rjiiwCDszPk1.md"></div>
        <h1 id="netbsd">NetBSD</h1>

        <p>NetBSD is a free, fast, secure, and highly portable Unix-like Open Source
        operating system. It is available for a wide range of platforms, from large-scale
        servers and powerful desktop systems to handheld and embedded devices.</p>

        <p>Visit the following resources to learn more:</p>

        <ul>

        <li><a href="https://netbsd.org/" rel="noopener noreferrer nofollow" target="_blank">@official@NetBSD
        Website</a></li>

        <li><a href="https://netbsd.org/docs/" rel="noopener noreferrer nofollow"
        target="_blank">@official@Official NetBSD Documentation</a></li>

        <li><a href="https://netbsd.org/docs/guide/en/index.html" rel="noopener noreferrer
        nofollow" target="_blank">@official@NetBSD Guide</a></li>

        </ul>'
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      ETag:
      - W/"371-190a37384bc"
      Last-Modified:
      - Thu, 11 Jul 2024 20:19:35 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://roadmap.sh/devops/windows@UOQimp7QkM3sxmFvk5d3i
  response:
    body:
      string: '<div data-github-url="https://github.com/kamranahmedse/developer-roadmap/tree/master/src/data/roadmaps/devops/content/windows@UOQimp7QkM3sxmFvk5d3i.md"></div>
        <h1 id="windows">Windows</h1>

        <p>Windows is a graphical user interface (GUI) based operating system developed
        by Microsoft. It is a hybrid kernel-based proprietary operating system. According
        to a survey, till April 2022, windows is the most popular operating system
        in the world with a 75% market share.</p>

        <p>Visit the following resources to learn more:</p>

        <ul>

        <li><a href="http://microsoft.com/windows" rel="noopener noreferrer nofollow"
        target="_blank">@article@Windows Official Site</a></li>

        <li><a href="https://learn.microsoft.com/en-us/windows/" rel="noopener noreferrer
        nofollow" target="_blank">@article@Windows Documentation for Developers</a></li>

        <li><a href="https://app.daily.dev/tags/windows?ref=roadmapsh" rel="noopener
        noreferrer nofollow" target="_blank">@feed@Explore top posts about Windows</a></li>

        </ul>'
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      ETag:
      - W/"3dc-190a37384c0"
      Last-Modified:
      - Thu, 11 Jul 2024 20:19:35 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://roadmap.sh/devops/operating%20system@wjJPzrFJBNYOD3SJLzW2M
  response:
    body:
      string: "<!DOCTYPE html><html lang=\"en\"> <head><meta charset=\"UTF-8\"><meta
        name=\"generator\" content=\"Astro v4.11.5\"><meta name=\"commit\" content=\"https://github.com/kamranahmedse/developer-roadmap/commit/26967da40be8e860d220f61f83e0de4c3df6799c\"><title>Page
        not found</title><meta name=\"description\" content=\"Co[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://roadmap.sh/devops/process%20monitoring@x-JWvG1iw86ULL9KrQmRu
  response:
    body:
      string: "<!DOCTYPE html><html lang=\"en\"> <head><meta charset=\"UTF-8\"><meta
        name=\"generator\" content=\"Astro v4.11.5\"><meta name=\"commit\" content=\"https://github.com/kamranahmedse/developer-roadmap/commit/26967da40be8e860d220f61f83e0de4c3df6799c\"><title>Page
        not found</title><meta name=\"description\" content=\"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://roadmap.sh/devops/performance%20monitoring@gIEQDgKOsoEnSv8mpEzGH
  response:
    body:
      string: "<!DOCTYPE html><html lang=\"en\"> <head><meta charset=\"UTF-8\"><meta
        name=\"generator\" content=\"Astro v4.11.5\"><meta name=\"commit\" content=\"https://github.com/kamranahmedse/developer-roadmap/commit/26967da40be8e860d220f61f83e0de4c3df6799c\"><title>Page
        not found</title><meta name=\"description\" conten[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://roadmap.sh/devops/networking%20tools@OaqKLZe-XnngcDhDzCtRt
  response:
    body:
      string: "<!DOCTYPE html><html lang=\"en\"> <head><meta charset=\"UTF-8\"><meta
        name=\"generator\" content=\"Astro v4.11.5\"><meta name=\"commit\" content=\"https://github.com/kamranahmedse/developer-roadmap/commit/26967da40be8e860d220f61f83e0de4c3df6799c\"><title>Page
        not found</title><meta name=\"description\" content=\"Co[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://roadmap.sh/devops/text%20manipulation@cUifrP7v55psTb20IZndf
  response:
    body:
      string: "<!DOCTYPE html><html lang=\"en\"> <head><meta charset=\"UTF-8\"><meta
        name=\"generator\" content=\"Astro v4.11.5\"><meta name=\"commit\" content=\"https://github.com/kamranahmedse/developer-roadmap/commit/26967da40be8e860d220f61f83e0de4c3df6799c\"><title>Page
        not found</title><meta name=\"description\" content=\"C[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://roadmap.sh/devops/bash@syBIAL1mHbJLnTBoSxXI7
  response:
    body:
      string: '<div data-github-url="https://github.com/kamranahmedse/developer-roadmap/tree/master/src/data/roadmaps/devops/content/bash@syBIAL1mHbJLnTBoSxXI7.md"></div>
        <h1 id="bash-scripting">Bash scripting</h1>

        <ul>

        <li><a href="https://www.freecodecamp.org/news/bash-scripting-tutorial-linux-shell-script-and-command-line-for-beginners/"
        rel="noopener noreferrer nofollow" target="_blank">@article@Bash Scripting
        Tutorial</a></li>

        <li><a href="https://www.learnshell.org/en/Welcome" rel="noopener noreferrer
        nofollow" target="_blank">@article@Interactive Shell Scripting Tutorial</a></li>

        <li><a href="https://app.daily.dev/tags/bash?ref=roadmapsh" rel="noopener
        noreferrer nofollow" target="_blank">@feed@Explore top posts about Bash</a></li>

        </ul>'
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      ETag:
      - W/"2e3-190a373838c"
      Last-Modified:
      - Thu, 11 Jul 2024 20:19:34 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://roadmap.sh/devops/power%20shell@z6IBekR8Xl-6f8WEb05Nw
  response:
    body:
      string: "<!DOCTYPE html><html lang=\"en\"> <head><meta charset=\"UTF-8\"><meta
        name=\"generator\" content=\"Astro v4.11.5\"><meta name=\"commit\" content=\"https://github.com/kamranahmedse/developer-roadmap/commit/26967da40be8e860d220f61f83e0de4c3df6799c\"><title>Page
        not found</title><meta name=\"description\" content=\"Communi[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://roadmap.sh/devops/vim%20/%20nano%20/%20%20emacs@Jt8BmtLUH6fHT2pGKoJs3
  response:
    body:
      string: "<!DOCTYPE html><html lang=\"en\"> <head><meta charset=\"UTF-8\"><meta
        name=\"generator\" content=\"Astro v4.11.5\"><meta name=\"commit\" content=\"https://github.com/kamranahmedse/developer-roadmap/commit/26967da40be8e860d220f61f83e0de4c3df6799c\"><title>Page
        not found</title><meta name=\"description\" c[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://roadmap.sh/devops/terminal%20knowledge@LvhFmlxz5uIy7k_nzx2Bv
  response:
    body:
      string: "<!DOCTYPE html><html lang=\"en\"> <head><meta charset=\"UTF-8\"><meta
        name=\"generator\" content=\"Astro v4.11.5\"><meta name=\"commit\" content=\"https://github.com/kamranahmedse/developer-roadmap/commit/26967da40be8e860d220f61f83e0de4c3df6799c\"><title>Page
        not found</title><meta name=\"description\" content=\"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://roadmap.sh/devops/git@uyDm1SpOQdpHjq9zBAdck
  response:
    body:
      string: '<div data-github-url="https://github.com/kamranahmedse/developer-roadmap/tree/master/src/data/roadmaps/devops/content/git@uyDm1SpOQdpHjq9zBAdck.md"></div>
        <h1 id="git">Git</h1>

        <p><a href="https://git-scm.com/" rel="noopener noreferrer nofollow" target="_blank">Git</a>
        is a free and open source distributed version contro[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://roadmap.sh/devops/version%20control%20systems@h10BH3OybHcIN2iDTSGkn
  response:
    body:
      string: "<!DOCTYPE html><html lang=\"en\"> <head><meta charset=\"UTF-8\"><meta
        name=\"generator\" content=\"Astro v4.11.5\"><meta name=\"commit\" content=\"https://github.com/kamranahmedse/developer-roadmap/commit/26967da40be8e860d220f61f83e0de4c3df6799c\"><title>Page
        not found</title><meta name=\"description\" con[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://roadmap.sh/devops/github@ot9I_IHdnq2yAMffrSrbN
  response:
    body:
      string: '<div data-github-url="https://github.com/kamranahmedse/developer-roadmap/tree/master/src/data/roadmaps/devops/content/github@ot9I_IHdnq2yAMffrSrbN.md"></div>
        <h1 id="github">GitHub</h1>

        <p>GitHub is a provider of Internet hosting for software development and version
        control using Git. It offers the distributed version[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://roadmap.sh/devops/gitlab@oQIB0KE0BibjIYmxrpPZS
  response:
    body:
      string: '<div data-github-url="https://github.com/kamranahmedse/developer-roadmap/tree/master/src/data/roadmaps/devops/content/gitlab@oQIB0KE0BibjIYmxrpPZS.md"></div>
        <h1 id="gitlab">GitLab</h1>

        <p>GitLab is a provider of internet hosting for software development and version
        control using Git. It offers the distributed version control and source code
        management functionality of Git, plus its own features.</p>

        <p>Visit the following resources to learn more:</p>

        <ul>

        <li><a href="https://gitlab.com/" rel="noopener noreferrer nofollow" target="_blank">@opensource@GitLab
        Website</a></li>

        <li><a href="https://docs.gitlab.com/" rel="noopener noreferrer nofollow"
        target="_blank">@article@GitLab Documentation</a></li>

        <li><a href="https://app.daily.dev/tags/gitlab?ref=roadmapsh" rel="noopener
        noreferrer nofollow" target="_blank">@feed@Explore top posts about GitLab</a></li>

        </ul>'
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      ETag:
      - W/"36b-190a37384b8"
      Last-Modified:
      - Thu, 11 Jul 2024 20:19:35 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://roadmap.sh/devops/bitbucket@Z7SsBWgluZWr9iWb2e9XO
  response:
    body:
      string: "<div data-github-url=\"https://github.com/kamranahmedse/developer-roadmap/tree/master/src/data/roadmaps/devops/content/bitbucket@Z7SsBWgluZWr9iWb2e9XO.md\"></div>
        <h1 id=\"bitbucket\">Bitbucket</h1>\n<p>Bitbucket is a Git based hosting and
        source code repository service that is Atlassian\u2019s alternative to other
        [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://roadmap.sh/devops/vcs%20hosting@jCWrnQNgjHKyhzd9dwOHz
  response:
    body:
      string: "<!DOCTYPE html><html lang=\"en\"> <head><meta charset=\"UTF-8\"><meta
        name=\"generator\" content=\"Astro v4.11.5\"><meta name=\"commit\" content=\"https://github.com/kamranahmedse/developer-roadmap/commit/26967da40be8e860d220f61f83e0de4c3df6799c\"><title>Page
        not found</title><meta name=\"description\" content=\"Communi[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://roadmap.sh/devops/forward%20proxy@F93XnRj0BLswJkzyRggLS
  response:
    body:
      string: "<!DOCTYPE html><html lang=\"en\"> <head><meta charset=\"UTF-8\"><meta
        name=\"generator\" content=\"Astro v4.11.5\"><meta name=\"commit\" content=\"https://github.com/kamranahmedse/developer-roadmap/commit/26967da40be8e860d220f61f83e0de4c3df6799c\"><title>Page
        not found</title><meta name=\"description\" content=\"Commu[...]
